<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="tri" class="Rongrong.Triangle">
	<!-- setter injection -->
	<!-- <property name = "type" value = "equi"/> -->
	<!-- String -->
	<!-- constructor injection -->
		<!-- <constructor-arg value = "equi" type = "java.lang.String"/> -->
		<!-- <constructor-arg value = "10" type = "int" /> -->
		<!-- <constructor-arg value = "equi" index = "0"/>
		<constructor-arg value = "10" index = "1" /> -->
		<!-- <property name = "p1" ref="pointOne"/>
		<property name = "p2">
		inner bean
			<bean class = "Rongrong.Point">
				<property name="x" value = "-3"/>
				<property name="y" value = "-4"/>
			</bean>
		</property>
		<property name = "p3">
			<bean class = "Rongrong.Point">
				<property name="x" value = "3"/>
				<property name="y" value = "4"/>
			</bean>
		</property> -->
		
		<!-- collection -->
		<property name="l">
			<list>
				<ref bean = "pointOne"/>
				<ref bean = "pointTwo"/>
				<ref bean = "pointThree"/>
			</list>
		</property>
	</bean>
	
	<bean id = "pointOne" class = "Rongrong.Point">
		<property name="x" value = "0"/>
		<property name="y" value = "0"/>
	</bean>
	
	<bean id = "pointTwo" class = "Rongrong.Point">
		<property name="x" value = "-3"/>
		<property name="y" value = "-4"/>
	</bean>
	
	<bean id = "pointThree" class = "Rongrong.Point">
		<property name="x" value = "3"/>
		<property name="y" value = "4"/>
	</bean> 
	
	<alias name="tri" alias="triToo"/>
</beans>